@page "/EmployeeManagement"
@using SalesManagment.Models;
@using SalesManagment.Services.Contracts;
@using Syncfusion.Blazor.Grids

@inject IEmployeeManagementService EmployeeManagementService;
<h3>EmployeeManagment</h3>
 <!--Grid with all the employee information -->
<div style="max-width:900px">
    <SfGrid DataSource="employeeData">
        <GridColumns>
            <GridColumn Field="@nameof(EmployeeModel.Id)" HeaderText="Id" IsPrimaryKey="true"/>
            <GridColumn Field="@nameof(EmployeeModel.FirstName)" HeaderText="Name"/>
            <GridColumn Field="@nameof(EmployeeModel.Surname)" HeaderText="Surname"/>
            <GridColumn Field="@nameof(EmployeeModel.EmployeeTitleId)" HeaderText="Job"/>
            <GridColumn Field="@nameof(EmployeeModel.Gender)" HeaderText="Gender"/>
            <GridColumn Field="@nameof(EmployeeModel.DateOfBirth)" HeaderText="Birth" Width="100px" Format="d"/>
            <GridColumn Field="@nameof(EmployeeModel.ReportToEmpId)" HeaderText="Reports"/>
        </GridColumns>
    </SfGrid>
</div>
@code {
    private List<EmployeeModel>? employeeData = null;
    // private List<object> toolbar = new List<object> { "Add", "Update", "Cancel", "Edit", "Delete" ,"Search" }; // Search bar in the grid 

    protected override async Task OnInitializedAsync()
    {
        employeeData = await EmployeeManagementService.GetEmployees();
    }
}
