@page "/ProductCatalog"
@using Syncfusion.Blazor.Lists
@using System.Globalization;
@inject IProductService ProductService


<h3>Catalog</h3>

<div class="row mt-3">
    <div class="col-12">
        <SfListView DataSource="productData" CssClass="e-list-template listview-template" ShowCheckBox="true">
            <ListViewFieldSettings TValue="ProductModel" Id="Id"
                                    Text="Name" GroupBy="CategoryName">
            </ListViewFieldSettings>
                <ListViewTemplates TValue="ProductModel">
                    <Template>
                        <div class="e-list-wrapper e-list-multi-line">
                            <span class="e-list-content">
                                <img src="@context.ImgPath" class="img-class" />
                            </span>
                            <span class="e-list-content">
                                <h5>
                                @context.Name
                                </h5>
                            </span>
                            <span class="e-list-content">
                                <b>
                                @context.Price.ToString("C", CultureInfo.CreateSpecificCulture("da-US"))
                                </b>
                            </span>
                            <span class="e-list-content">
                                @context.Description
                            </span>
                        </div>

                    </Template>
                    <GroupTemplate>
                        <h5>@context.Text</h5>
                    </GroupTemplate>
                </ListViewTemplates>
        </SfListView>
    </div>
</div>

<style>
    .listview-template {
        max-width: 1200px;
        border-radius: 2px;
        height: 650px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
        padding: 18px;
    }
    .img-class {
        height:95px;
        width:155px;
    }
</style>

@code {

    private List<ProductModel> productData { get; set; }


    protected override async Task OnInitializedAsync()
    {
        productData = await ProductService.GetProducts();
    }
}
